    <html>
        <body bgcolor="magenta">
        <form method="POST" action="">
            <H1>Enter your information</H1>
            <table>
                <tr>
                  <td align="right">First Name:</td>
                  <td align="left"><input type="text" name="first" /></td>
                </tr>
                <tr>
                  <td align="right">Last Name:</td>
                  <td align="left"><input type="text" name="last" /></td>
                </tr>
                <tr>
                  <td align="right">Age:</td>
                  <td align="left"><input type="text" name="age" /></td>
                </tr>
              </table>
              <input type = "submit">
        </form>
        </body>
        </html>
    
    
    
    
        

    